# Виртуальная среда
.venv/
venv/

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных SQLite
db.sqlite3

# Файлы PyCharm
.idea/

# Локальные настройки и секреты
.env

# Другие временные файлы
*.log